In [1]:
import pandas as pd

In [2]:
import pandas as pd


df = pd.read_csv("typing_dataset.csv")

In [3]:
df.head()

,user_id,ks_count,ks_rate,dwell_mean,dwell_std,flight_mean,flight_std,digraph_mean,digraph_std,backspace_rate,accuracy,wps,wpm
0,user1,52,3.992279,0.153429,0.113378,0.098957,0.170388,0.253775,0.148688,0.038462,22.222222,0.690971,41.458281
1,user1,47,3.110849,0.194076,0.207820,0.130148,0.195662,0.326207,0.210207,0.000000,22.222222,0.595695,35.741675
2,user1,55,3.104401,0.153604,0.140087,0.171640,0.272049,0.325954,0.230214,0.072727,22.222222,0.507993,30.479574
3,user1,63,2.971686,0.216799,0.318483,0.121641,0.265352,0.340351,0.282981,0.047619,77.777778,0.424527,25.471597
4,user1,58,2.992438,0.168564,0.154217,0.168517,0.277885,0.337924,0.232387,0.034483,88.888889,0.464344,27.860630

In [4]:
df.columns

Index(['user_id', 'ks_count', 'ks_rate', 'dwell_mean', 'dwell_std',
       'flight_mean', 'flight_std', 'digraph_mean', 'digraph_std',
       'backspace_rate', 'accuracy', 'wps', 'wpm'],
      dtype='object')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   user_id         180 non-null    object
 1   ks_count        180 non-null    int64
 2   ks_rate         180 non-null    float64
 3   dwell_mean      180 non-null    float64
 4   dwell_std       180 non-null    float64
 5   flight_mean     180 non-null    float64
 6   flight_std      180 non-null    float64
 7   digraph_mean    180 non-null    float64
 8   digraph_std     180 non-null    float64
 9   backspace_rate  180 non-null    float64
 10  accuracy        180 non-null    float64
 11  wps             180 non-null    float64
 12  wpm             180 non-null    float64
dtypes: float64(11), int64(1), object(1)
memory usage: 18.4+ KB

In [ ]:
#co-relation